@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

.h-96 {
  height: 39rem;
}

.py-2 {
    margin-top: 0.5rem;
}

.mt-style {
    margin-top: 1.5rem;
}

.text-area {
    padding-left: 0.5rem;
}

.photo-area {
    padding-right: 7.5rem;
}

.alert-area {
    margin-top: 10rem;
}